* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.calc-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#calc {
    padding: 0.7rem;
    width: 350px;
    background-color: #c4c4c4;
    color: #000;
    display: flex;
    flex-direction: column;
}

#operations{

    text-align: right;
    margin-bottom: 5px;
}

#previus-operation{
    min-height: 1rem;
    overflow-wrap: break-word;
    padding-right: 0.5rem;
}

#current-operation{
    min-height: 1.7rem;
    font-size: 1.5rem;
    padding-right: 0.5rem;
    overflow-wrap: break-word;
}

#buttons-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 3px;
}

#buttons-container button {
    border: 1px solid transparent;
    border-radius: 0;
    height: 4rem;
}



#buttons-container button:hover {
    background-color: #bababa;
  }


#buttons-container #equal-btn {
    grid-column: span 2;
  }